.product-image {
    width: 300px;
}

.product-card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    padding: 10px;
}

.product-title {
    padding: 20px;
    color: darkblue;
    font-size: 20px;
    font-weight: bold;
}

.product-description {
    padding: 20px;
}

.product-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.product-price {
    font-size: 28px;
    color: #1ed013;
    align-self: start;
}

.buy-product {
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    color: #1ed013;
}

.products-count {
    font-size: 15px;
}